
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Đăng nhập</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="Index">Trang chủ</a></li>
                        <li><a href="#">Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner">
                <a href="#"><img src="~/Assets/images/banner/banner-016.png" alt="Banner"></a>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner">
                <a href="#"><img src="~/Assets/images/banner/banner-017.png" alt="Banner"></a>
            </div>
        </div>

    </div>
</div>
<!-- Page Banner Section End -->
<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
    <div class="container">
        <div class="row">

            <!-- Login -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-login">

                    <h3>Đăng Nhập</h3>

                    <!-- Login Form -->
                    <form action="#">
                        <div class="row">
                            <div class="col-12 mb-30"><input type="text" placeholder="Điền tên đăng nhập của bạn"></div>
                            <div class="col-12 mb-20"><input type="password" placeholder="Điền mật khẩu của bạn"></div>
                            <div class="col-12 mb-15">

                                <input type="checkbox" id="remember_me">
                                <label for="remember_me">Ghi nhớ</label>

                                <a href="#">Quên mật khẩu?</a>

                            </div>
                            <div class="col-12"><input type="submit" value="Đăng Nhập"></div>
                        </div>
                    </form>
                    <h4>Bạn chưa có tài khoản? <a href="Register">Đăng ký</a> ngay</h4>

                </div>
            </div>

            <div class="col-md-1 col-12 d-flex">

                <div class="login-reg-vertical-boder"></div>

            </div>

            <!-- Login With Social -->
            <div class="col-md-5 col-12 d-flex">

                <div class="ee-social-login">
                    <h3>Đăng nhập bằng</h3>

                    <a href="#" class="facebook-login">Đăng nhập bằng <i class="fa fa-facebook"></i></a>
                    <a href="#" class="google-plus-login">Đăng nhập bằng <i class="fa fa-google-plus"></i></a>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- Login Section End -->
