
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Register Section Start -->
<!-- CSS của profile -->
<link rel="stylesheet" href="~/Assets/css/profile.css">

<div class="register-section section mt-90 mb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="headerAccount">
                    <h1>TinCD</h1>
                    <p>tincdhe140546@gmail.com</p>
                    <ul>
                        <li>
                            <a href="Profile" class="option"><img src="~/Assets/images/icons/back2.png" /><span>Quay lại</span> </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div style="margin-bottom: 50px;" class="col-md-9">
                <div class="card">
                    <!-- View history order form -->
                    <div id="historyOrder" style="display: block" class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 style="font-weight: bold;">Chi tiết đơn hàng</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="cart-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">Hình ảnh</th>
                                        <th class="pro-title">Món</th>
                                        <th class="pro-subtotal">Giá</th>
                                        <th class="pro-quantity">Số lượng</th>
                                        <th class="pro-remove">Đánh giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pro-thumbnail">
                                            <a href="single-product.html"><img src="https://ucarecdn.com/067f26fc-a6d1-464e-95fa-2b5a173fe238/pizzahaisan3.png" alt="Product"></a>
                                        </td>
                                        <td class="pro-title"><a href="single-product.html">Zeon Zen 4 Pro </a></td>
                                        <td class="pro-subtotal"><span>20000</span></td>
                                        <td class="pro-quantity"><span style="font-weight: bold;">2</span></td>
                                        <td class=""><a class="btn" style="background-color:#f5d730; border-radius: 10px; border: 1px solid #edede9" href="#">Đánh giá</a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail">
                                            <a href="single-product.html"><img src="https://ucarecdn.com/872eec01-e32a-4995-8398-4b18567e79e1/comtam3.png" alt="Product"></a>
                                        </td>
                                        <td class="pro-title"><a href="single-product.html">Zeon Zen 4 Pro </a></td>
                                        <td class="pro-subtotal"><span>20000</span></td>
                                        <td class="pro-quantity"><span style="font-weight: bold;">2</span></td>
                                        <td class=""><a class="btn" style="background-color:#f5d730; border-radius: 10px; border: 1px solid #edede9" href="#">Đánh giá</a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail">
                                            <a href="single-product.html"><img src="~/Assets/images/product/product-1.png" alt="Product"></a>
                                        </td>
                                        <td class="pro-title"><a href="single-product.html">Zeon Zen 4 Pro </a></td>
                                        <td class="pro-subtotal"><span>20000</span></td>
                                        <td class="pro-quantity"><span style="font-weight: bold;">2</span></td>
                                        <td class=""><a class="btn" style="background-color:#f5d730; border-radius: 10px; border: 1px solid #edede9" href="#">Đánh giá</a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail">
                                            <a href="single-product.html"><img src="~/Assets/images/product/product-1.png" alt="Product"></a>
                                        </td>
                                        <td class="pro-title"><a href="single-product.html">Zeon Zen 4 Pro </a></td>
                                        <td class="pro-subtotal"><span>20000</span></td>
                                        <td class="pro-quantity"><span style="font-weight: bold;">2</span></td>
                                        <td class=""><a class="btn" style="background-color:#f5d730; border-radius: 10px; border: 1px solid #edede9" href="#">Đánh giá</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Register Section End -->

