
@{
    ViewBag.Title = "ProductGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>MENU</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="#">TRANG CHỦ</a></li>
                        <li><a href="#">MENU</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner">
                <a href="#"><img src="~/Assets/images/banner/banner-017.png" alt="Banner"></a>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner">
                <a href="#"><img src="~/Assets/images/banner/banner-016.png" alt="Banner"></a>
            </div>
        </div>

    </div>
</div>
<!-- Page Banner Section End -->
<!-- Product Section Start -->
<div class="product-section section mt-90 mb-90">
    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row mb-50">
                    <div class="col">

                        <!-- Shop Top Bar Start -->
                        <div class="shop-top-bar">

                            <!-- Product View Mode -->
                            <div class="product-view-mode">
                                <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                                <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                            </div>

                            <!-- Product Short -->
                            <div class="product-short">
                                <p>Sắp xếp:</p>
                                <select name="sortby" class="nice-select">
                                    <option value="sales">Tất cả</option>
                                    <option value="sales">Món bán chạy</option>
                                    <option value="rating">Món ăn mới</option>
                                    <option value="price-asc">Giá: từ thấp đến cao</option>
                                    <option value="price-desc">Giá: từ cao đến thấp</option>
                                </select>
                            </div>
                            <!-- Categories -->
                            <div style="margin-left: 50px;" class="product-short">
                                <p>Danh mục:</p>
                                <select name="category" class="nice-select">
                                    <option value="sales">Tất cả</option>
                                    <option value="sales">Đồ ăn sáng</option>
                                    <option value="sales">Đồ ăn trưa & tối</option>
                                    <option value="sales">Nước uống</option>

                                </select>
                            </div>

                            <!-- Product Pages -->
                            <div class="product-pages">
                                <p>Trang thứ 1 của 25 trang</p>
                            </div>

                        </div>
                        <!-- Shop Top Bar End -->

                    </div>
                </div>

                <!-- Shop Product Wrap Start -->
                <!-- Shop Product Wrap Start -->
                <div class="shop-product-wrap grid row">

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">

                        <!-- Product Start -->
                        <div class="ee-product">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                                <a style="background-color: #f5d730;
                                                               padding: 10px;
                                                               border-radius: 25px;
                                                               margin-left: 60px;
                                                               margin-top: 10px;">
                                    <i class="ti-shopping-cart"></i>
                                    <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                </a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="category-title">

                                    <a href="#" class="cat">Laptop</a>
                                    <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>

                                </div>

                                <!-- Price & Ratting -->
                                <div class="price-ratting">

                                    <h5 class="price">$295.00</h5>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- Product End -->
                        <!-- Product List Start -->
                        <div class="ee-product-list">

                            <!-- Image -->
                            <div class="image">

                                <a href="SingleProduct" class="img"><img src="~/Assets/images/product/product-1.png" alt="Product Image"></a>

                            </div>

                            <!-- Content -->
                            <div class="content">

                                <!-- Category & Title -->
                                <div class="head-content">

                                    <div class="category-title">
                                        <a href="#" class="cat">Laptop</a>
                                        <h5 class="title"><a href="SingleProduct">Zeon Zen 4 Pro</a></h5>
                                    </div>

                                    <h5 class="price">$295.00</h5>

                                </div>

                                <div class="left-content">

                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>

                                    <div class="actions">

                                        <a style="background-color: #f5d730;
                                                padding: 10px;
                                                border-radius: 25px;
                                                margin-left: 60px;
                                                margin-top: 10px;">
                                            <i class="ti-shopping-cart"></i>
                                            <input style="background: none; border: none;font-weight: bold;" type="submit" onclick="buy('${o.id}')" value="THÊM VÀO GIỎ" />
                                        </a>

                                    </div>

                                </div>

                                <div class="right-content">
                                    <div class="specification">
                                        <h5>Specifications</h5>
                                        <ul>
                                            <li>Intel Core i7 Processor</li>
                                            <li>Zeon Z 170 Pro Motherboad</li>
                                            <li>16 GB RAM</li>
                                        </ul>
                                    </div>
                                    <span class="availability">Availability: <span>In Stock</span></span>
                                </div>

                            </div>

                        </div>
                        <!-- Product List End -->

                    </div>

                </div>
                <!-- Shop Product Wrap End -->
                <!-- Pagination start -->
                <div class="row mt-30">
                    <div class="col">

                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li> - - - - - </li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">18</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">Next<i class="fa fa-angle-right"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- Pagination end -->

            </div>

        </div>
    </div>
</div>
<!-- Feature Product Section End -->
