
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="page-banner-wrap row row-0 d-flex align-items-center ">

        <!-- Page Banner -->
        <div class="col-lg-4 col-12 order-lg-2 d-flex align-items-center justify-content-center">
            <div class="page-banner">
                <h1>Đăng ký tài khoản</h1>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="Index">Trang chủ</a></li>
                        <li><a href="#">Đăng ký</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-1">
            <div class="banner">
                <a href="#"><img src="~/Assets/images/banner/banner-016.png" alt="Banner"></a>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-4 col-md-6 col-12 order-lg-3">
            <div class="banner">
                <a href="#"><img src="~/Assets/images/banner/banner-015.png" alt="Banner"></a>
            </div>
        </div>

    </div>
</div>
<!-- Page Banner Section End -->
<!-- Register Section Start -->
<div class="register-section section mt-90 mb-90">
    <div class="container">
        <div class="row">

            <!-- Register -->
            <div class="col-md-6 col-12 d-flex">
                <div class="ee-register">

                    <h3>Trở thành thành viên để được hưởng nhiều ưu đãi</h3>

                    <!-- Register Form -->
                    <form action="#">
                        <div class="row">
                            <div class="col-12 mb-30"><input type="text" placeholder="Nhập tên đăng nhập"></div>
                            <div class="col-12 mb-30"><input type="email" placeholder="Nhập Email của bạn"></div>
                            <div class="col-12 mb-30"><input type="password" placeholder="Nhập mật khẩu"></div>
                            <div class="col-12 mb-30"><input type="password" placeholder="Xác nhận lại mật khẩu"></div>
                            <div class="col-12"><input type="submit" value="Đăng ký"></div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="col-md-1 col-12 d-flex">

                <div class="login-reg-vertical-boder"></div>

            </div>

            <!-- Account Image -->
            <div class="col-md-5 col-12 d-flex">

                <div class="ee-account-image">
                    <img src="~/Assets/images/logo.jpg" alt="Account Image Placeholder" class="image-placeholder">
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Register Section End -->
